.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff94;
    backdrop-filter: blur(10px);
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding: 10px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &__logo {
            img {
                width: 40px;
                height: 40px;
            }
        }
        &__collection {
            display: flex;
            gap: 30px;
            font-weight: 500;
        }
    }
}