.collection {
    padding: 10px 50px;
    list-style: none;
    display: flex;
    gap: 30px;
    .item {
        background: #ddd;
        padding: 6px 20px;
        border-radius: 6px;
        cursor: pointer;
        user-select: none;
        color: #000;
    }
}